body{
    background-color:rgb(230, 260, 245);
}
table{
    margin:150px 70px 90px 500px;
    background-color: rgb(23, 41, 60);
    
}
table,td {
        border: 10px solid green;
        text-align: center;
     }
td{
    height:80px;
    width:80px;
    
}
#calc{
 width: 250px;
border: 3px solid blue;
border-radius: 3px;
padding: 20px;
margin: auto;
}
button{
    font-size:30px;
    height:60px;
    width:80px;
}


@media only screen and (max-width: 600px) {
table{
    margin-left:160px;
}
}
@media only screen and (max-width: 800px) {
table{
    margin-right:0px;
    margin-left:180px;
}
}
@media only screen and (max-width: 1000px) {
table{
    
    margin-left:190px;
}
}
@media only screen and (max-width: 1200px) {
    table{
        
        margin-left:190px;
    }
    }
